::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-track-piece {
    border-width: 4px !important;
}

::-webkit-scrollbar-track {
    box-shadow: none;
    margin: 0 4px;
}

::-webkit-scrollbar-track:hover {
    box-shadow: none;
    background: none;
}

::-webkit-scrollbar-thumb {
    background-color: #dadce0;
    border-color: transparent;
    border-radius: 8px;
    border-style: solid;
    border-width: 4px;
    box-shadow: none;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #80868b;
}

::-webkit-scrollbar-thumb:active {
    background-color: #5f6368;
}

body::-webkit-scrollbar-track-piece {
    background-color: #fff;
    border: none;
    box-shadow: none;
}

.nav-icon {
    width: 40px;
    height: 40px;
}

.us_picture {
    & img {
        width: 71%;
        height: auto;
        object-fit: contain;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
    overflow: hidden;
}

/* Carousel */

.carousel {
    overflow: hidden;
    width: 80vw;
    max-width: 1920px;
    /* border: 2px solid #ccc;
    border-radius: 10px; */
}

.carousel-track {
    display: flex;
    animation: scroll 40s linear infinite;
}

.carousel-track img {
    object-fit: cover;
    overflow: visible;
}

.img {
    aspect-ratio: 1/1;
    height: auto;
    width: 125px;
    /* width: calc(300% / 17); */
    display: flex;
    align-items: center;
    margin: 0 24px;
    flex-shrink: 0;
}

.img .diesco {
    width: 100px;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* Carousel */

/* Scroll */

.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none; /* Inicialmente oculto */
    /*     background-color: #007bff;
    color: white; */
    border: none;
    border-radius: 50%;
    padding: 10px 15px;
    font-size: 20px;
    cursor: pointer;
    z-index: 1000;
    width: 64px;
}

.scroll-to-top img {
    aspect-ratio: 1/1;
    height: auto;
    width: 100%;
    object-fit: cover;
}

/* .scroll-to-top:hover {
    background-color: #0056b3;
} */

/* Scroll */

/* Gradient Shadow */

.imagen-container {
    position: relative; /* Contenedor para posicionar la sombra */
    display: inline-block; /* Ajusta el tamaño del contenedor a la imagen */
    height: auto;
    aspect-ratio: 1/1;
    width: 50%;
    border-radius: 50%;
    overflow: hidden;
    object-fit: contain;
}
/* 
.imagen-container::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0) Color final (transparente)
    );
    z-index: 1;
} */

.imagen-container img {
    display: block;
    width: 100%;
    height: auto;
}
