::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-track-piece {
    border-width: 4px !important;
}

::-webkit-scrollbar-track {
    box-shadow: none;
    margin: 0 4px;
}

::-webkit-scrollbar-track:hover {
    box-shadow: none;
    background: none;
}

::-webkit-scrollbar-thumb {
    background-color: #dadce0;
    border-color: transparent;
    border-radius: 8px;
    border-style: solid;
    border-width: 4px;
    box-shadow: none;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #80868b;
}

::-webkit-scrollbar-thumb:active {
    background-color: #5f6368;
}

body::-webkit-scrollbar-track-piece {
    background-color: #fff;
    border: none;
    box-shadow: none;
}

.nav-icon {
    width: 40px;
    height: 40px;
}

.us_picture {
    & img {
        width: 71%;
        height: auto;
        object-fit: contain;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
    overflow: hidden;
}

/* Carousel */

.carousel {
    overflow: hidden;
    width: 80%;
    max-width: 1920px;
    /* border: 2px solid #ccc;
    border-radius: 10px; */
}

.carousel-track {
    display: flex;
    animation: scroll 20s linear infinite;
}

.carousel-track img {
    object-fit: cover;
    overflow: visible;
}

.img {
    aspect-ratio: 1/1;
    height: auto;
    width: 125px;
    /* width: calc(300% / 17); */
    display: flex;
    align-items: center;
    margin: 0 24px;
    flex-shrink: 0;
}

.img .diesco {
    width: 100px;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* Carousel */
